---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/yFKkFPvUgXc/2000x1322?a=.png
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Easily build church websites</h1>
			<p class="subtext editable">With Cornerstone.io, building websites has never been easier. Create, customize, and publish your website with total control.</p>
			<div class="cta button alt"><a href="https://goo.gl/forms/siyCjJj6pO6OYs5P2" target="_blank">Stay Updated</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Church Websites Made Easy</h2>
				<p class="editable">You tell us all the information for your church. This includes: Information about your church's beliefs, Service Times, Information about your staff, Church Address, Facebook page, etc. and we will create a beatiful church website that will look good on screens of any size!</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Customization is up to you</h2>
				<p class="editable">Automatically your website will look gorgeous on any device. However, we will provide tools for you to easily change the theme, colors, and font so your website will match your church's look.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Online Giving</h2>
				<p class="editable">An add-on that will allow your congregation to make online donations. Congregants can give one time gifts and recurring gifts. We will provide the ability to export gifts to a spreadsheet for reporting contributions made through Cornerstone.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Sign up to stay updated</h2>
				<p class="subtext editable">Take a short survey to be the first to know when Cornerstone is ready to be used.</p>
				<div class="cta button alt"><a href="https://goo.gl/forms/siyCjJj6pO6OYs5P2" target="_blank">Sign Up Now</a></div>
			</div>
		</div>
	</section>
</div>
